OPENAI_API_KEY=
GITHUB_TOKEN=
# UI automation (SauceDemo)
PLAYWRIGHT_BASE_URL=https://www.saucedemo.com
PLAYWRIGHT_WORKERS=4
PLAYWRIGHT_RETRIES=1
PLAYWRIGHT_TIMEOUT_MS=30000
PLAYWRIGHT_EXPECT_TIMEOUT_MS=5000
PLAYWRIGHT_HEADLESS=true
TEST_STANDARD_USERNAME=standard_user
TEST_LOCKED_USERNAME=locked_out_user
TEST_PERFORMANCE_GLITCH_USERNAME=performance_glitch_user
TEST_PASSWORD=secret_sauce
